@import "https://unpkg.com/open-props";
:root {
  --arrow: url("https://img.icons8.com/material/14/ffffff/cursor--v1.png"),
    default;
  --hand: url("https://img.icons8.com/sf-black-filled/18/ffffff/hand-cursor.png"),
    default;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

:focus,
:active {
  outline: none;
}

html {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeSpeed;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  background-color: #010101;
}

html:focus-within {
  scroll-behavior: smooth;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

::-moz-selection {
  background: rgb(120, 120, 120);
  color: black;
}

::selection {
  background: rgb(120, 120, 120);
  color: black;
}

@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  display: flex;
  flex-direction: column;
  background-color: #010101;
  margin-left: var(--size-2);
  min-height: 100vh;
  overflow-y: hidden;
  cursor: var(--arrow);
}

img {
  margin: 0 auto;
}

#hero {
  min-height: 100vh;
  min-width: 100%;
}
#hero .terminalText,
#hero #links,
#hero #Date_Time,
#hero .prefix {
  color: rgba(255, 255, 255, 0.607);
  font-size: var(--font-size-1);
  font-family: monospace, sans-serif;
}
#hero section {
  display: flex;
  flex-direction: row;
  margin: 0;
}
#hero section #searchBox {
  display: none;
  min-width: 60rem;
}
#hero section #searchEngine {
  max-width: var(--size-5);
}
#hero section #searchEngine,
#hero section #searchBox {
  background: black;
  color: rgba(255, 255, 255, 0.607);
  font-size: var(--font-size-1);
  font-family: monospace, sans-serif;
  border: none;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.audio-bars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.bar {
  background: #fff;
  height: var(--size-fluid-7);
  width: 6px;
  margin-right: 6px;
  border-radius: var(--radius-6);
}

.bar:last-child {
  margin-right: 0;
}

@-webkit-keyframes sound {
  0% {
    transform: scale3d(1, 0.1, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes sound {
  0% {
    transform: scale3d(1, 0.1, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes sound2 {
  0% {
    transform: scale3d(1, 0.1, 1);
  }
  100% {
    transform: scale3d(1, 0.5, 1);
  }
}
@keyframes sound2 {
  0% {
    transform: scale3d(1, 0.1, 1);
  }
  100% {
    transform: scale3d(1, 0.5, 1);
  }
}
.bar:nth-child(1),
.bar:nth-child(7),
.bar:nth-child(12) {
  -webkit-animation: sound2 0ms -800ms linear infinite alternate;
          animation: sound2 0ms -800ms linear infinite alternate;
  -webkit-animation-duration: 240ms;
          animation-duration: 240ms;
}

.bar:nth-child(2),
.bar:nth-child(6),
.bar:nth-child(11) {
  -webkit-animation: sound 0ms -800ms linear infinite alternate;
          animation: sound 0ms -800ms linear infinite alternate;
  -webkit-animation-duration: 340ms;
          animation-duration: 340ms;
}

.bar:nth-child(3),
.bar:nth-child(8),
.bar:nth-child(13) {
  -webkit-animation: sound 0ms -800ms linear infinite alternate;
          animation: sound 0ms -800ms linear infinite alternate;
  -webkit-animation-duration: 240ms;
          animation-duration: 240ms;
}

.bar:nth-child(4),
.bar:nth-child(10),
.bar:nth-child(14) {
  -webkit-animation: sound 0ms -800ms linear infinite alternate;
          animation: sound 0ms -800ms linear infinite alternate;
  -webkit-animation-duration: 290ms;
          animation-duration: 290ms;
}

.bar:nth-child(5),
.bar:nth-child(9),
.bar:nth-child(15) {
  -webkit-animation: sound2 0ms -800ms linear infinite alternate;
          animation: sound2 0ms -800ms linear infinite alternate;
  -webkit-animation-duration: 190ms;
          animation-duration: 190ms;
}

.link {
  cursor: var(--hand);
}/*# sourceMappingURL=Style.css.map */